body {
    border: solid black;
    height: 1500px;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.firstcontainer {
    border: solid blueviolet;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;

}

div h5 {
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
}

.headerlist {
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

li {
    list-style-type: none;
}

.secondcontainer {
    border: solid red;
    flex: 6;
}

.thirdcontainer {
    border: solid rgb(65, 26, 238);
    flex: 6;
}

.forthcontainer {
    border: solid greenyellow;
    flex: 6;
}

.fifthcontainer {
    border: solid goldenrod;
    flex: 5;
}

.sixthcontainer {
    border: solid teal;
    flex: 1;
}