body {
    
    height: 1500px;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.firstcontainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    gap: 380px;

}

div h5 {
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
}

.headerlist {
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

li {
    list-style-type: none;
}

.secondcontainer {
    
    flex: 6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #1f2937;
}

.secondcontainerleft {
    
    width: 400px;
}

.secondcontainerleft .title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.secondcontainerleft .secondarytext {
    color: #e5e7eb;
    font-size: 18px;
}

.secondcontainerleft button {
    background-color: #3882f6;
    border-radius: 5px;
    border-color: #3882f6;
    padding: 3px;
    color: #f9faf8;
    width: 80px;
}

.placeholder {
    height: 200px;
    width: 450px;
    background-color: rgb(145, 142, 142);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.thirdcontainer {
    
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.imgandtxtholder {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.middletitle {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    
}

.imageholder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;

}


.image {
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid #337ef7;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
    

.imagetexts {
    display: flex;
    gap: 50px;
    color: #1f2937;
    font-size: 12px;
    
    
    
}

.iltext {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 60px;
    margin: 0;
    
}








.forthcontainer {
    
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    
}

.quote {
    font-size: 36px;
    color: #1f2937;
    width: 780px;
    margin: 0;

}

.Thor {
    margin: 0;
    margin-left: 500px;
    color:solid #1f2937;
    font-size: 20px;
    font-weight: bold;
}

.fifthcontainer {
    
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bluecontainer {
    border-radius: 10px;
    background-color: #3882f6;
    height: 130px;
    width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.calltitle {
    color: #e5e7eb;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.calltext {
    color: #e5e7eb;
    margin: 0;
}

.footerbutton {
    background-color: #3882f6;
    border-radius: 5px;
    border-color: white;
    padding: 3px;
    color: white;
    width: 90px;
}

.sixthcontainer {
    
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 14px;
}